app/__pycache__/
app/application/__pycache__/
app/database/__pycache__/
app/interface/__pycache__/
migrations/
env4/
.ideal/
*.xlsx
*.xls
*.list
*.tsv
celerybeat-schedule
*.pyc
celerybeat-schedule.*
dump.rdb
nohup*log
*~
app/static/samplesheet/*.pdf
celery.err
runserver.err
nohup.out
runserver.log
