table
{
    border: solid 1px #666;
    border-collapse: collapse;
    width: 80%;
    cursor: default;
    white-space:nowrap;
    text-align:center;
}

tbody tr:nth-child(even) {
    background: #eeeeee;
}
tbody tr:nth-child(odd) {
    background: White;
}
tr
{
    border: solid 1px #666;
    height: 30px;
}
table thead tr
{
    background-color: #ccc;
}
td
{
    border: solid 1px #666;
}
th
{
    border: solid 1px #666;
    text-align: center;
}



.b {
    margin:0px;
    padding:0px;
    overflow:auto; }
.w {
    position:fixed;
    left:0;
    bottom:0;
    width:225px;
    height:240px;
    overflow:hidden;
    cursor:default; -moz-user-select:none; }
.t { line-height:20px;
    height:20px;
    width:225px;
    overflow:hidden;
    background-color: #CCCCCC;
    color: #000000;
    text-align:center; }
.winBody {
    height:218px;
    width:225px;
    overflow-x:hidden;
    overflow-y:auto;
    padding:10px;
    text-indent:10px;
    background-color:white;
}