<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>sampleList</title>
    <script src="/static/js/order.js"></script>
    <link href="/static/css/table.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/local.css" />
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script>
    </script>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
          <a class="navbar-brand" href=#>sampleList</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        {% include "sider.html" %}
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="/logout" class="dropdown-toggle"><i class="fa fa-power-off"></i> Log Out</a>
            </li>
          </ul>
        </div>
      </nav>


      <figure>
        <div align="center">
            <p>休息一下，一定是按错了，您暂时没有该页面访问权限！点击图片返回</p>
            <p>纯净之地·苏必利尔湖·明尼苏达州·美国</p>
        <img src="static/imgs/BingWallpaper-2018-05-11.jpg" width="60%" height="60%" onclick="javascript:history.back(-1);" class="align-center"/>
    </div>
      </figure>
      <br><br>
      <br><br> {% extends "footer.html" %}

    </div>
  </body>

</html>
