<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>检测出库</title>
    <script src="/static/js/order.js"></script>
    <link href="/static/css/table.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/local.css" />
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/tablePage.js"></script>
    <script>
      window.onload = function () {
        $.getJSON("/applyByDefault", loadReleaseList);

        $("#download").click(function () {
          var array = new Array();
          $("[name= items]:checkbox:checked").each(function () {
            array.push($(this).val());
          });
          $.ajax({
            type: 'post',
            url: "/download_releaseupdate",
            contentType: 'application/json',
            data: JSON.stringify(array),
            statusCode: {
              404: function () {
                alert("网络错误！")
              },
              200: function () {
                window.location.href = "/PYReleaseUpdate.xls/template/download"
              },
              300: function () {
                alert("有效样品个数为0！")
              },
              500: function () {
                alert("系统错误！")
              }
            }
          });
        });
      };

      function selectAll() {
        $("[name=items]:checkbox").each(function () {
          $(this).prop("checked", true);
        });
      }

      function unSelect() {
        $("[name=items]:checkbox").each(function () {
          $(this).prop("checked", false);
        });
      }

      function reverse() {
        $("[name=items]:checkbox").each(function () {
          this.checked = !this.checked;
        });
      }

      function doUpload() {
        var formData = new FormData($("#uploadForm")[0]);
        $.ajax({
          type: 'post',
          url: "/uploadReleaseUpdate",
          data: formData,
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          statusCode: {
            404: function () {
              alert("网络错误！")
            },
            200: function () {
              alert("上传成功！");
              $.getJSON("/applyByDefault", loadReleaseList);
            },
            500: function () {
              alert("系统错误，请联系系统管理员！")
            },
            0: function () {
              alert("上传失败！请检测出库表")
            }
          }
        });
      }

      function loadReleaseList(data) {
        $('#releaseUpdate').empty();
        var html = "<table id='tableSort'>";
        html += "<thead><tr>" +
          "<th class='text-center'>标记</th>" +
          "<th class='text-center'>提交</th>" +
          "<th type='string' class='text-center'>采样管编号</th>" +
          "<th type='date' class='text-center'>采样管失效日期</th>" +
          "<th type='string' class='text-center'>出库物流单号</th>" +
          "<th type='string' class='text-center'>谱元配·状态</th>" +
          "<th type='string' class='text-center'>谱元配提前出库</th>" +
          "<th type='string' class='text-center'>产品编号</th>" +
          "<th type='string' class='text-center'>客户渠道</th>" +
          "<th type='string' class='text-center'>渠道负责人</th>" +
          "<th type='string' class='text-center'>渠道内部编号</th>" +
          "<th type='string' class='text-center'>申请日期</th>" +
          "<th type='string' class='text-center'>客户联系人</th>" +
          "<th type='string' class='text-center'>客户联系电话</th>" +
          "<th type='string' class='text-center'>客户联系地址</th>" +
          "</tr></thead><tbody> ";
        for (var i in data) {
          html += "<tr><td><input value='" + data[i]["PriSID"] + "' type='checkbox' name='items' onmouseover = 'move(this)'></td>";
          html += "<td><input onclick='updaterelease(" + data[i]["PriSID"] + ")' value='确认' type='button' ></td>";
          html +=
            "<td><input type='text' id='tube_id" + data[i]["PriSID"] + "'> </td>" +
            "<td><input type='date' id='tube_expiry_date" + data[i]["PriSID"] + "'> </td>" +
            "<td><input type='text' id='tube_out_express_id" + data[i]["PriSID"] + "'> </td>" +
            "<td>" + data[i]["PYFormula_status"] + "</td>" +
            "<td>" + data[i]["PYFormula_release_ahead"] + "</td>" +
            "<td>" + data[i]["Project_name"] + "</td>" +
            "<td>" + data[i]["Agent_name"] + "</td>" +
            "<td>" + data[i]["Agent_manager"] + "</td>" +
            "<td>" + data[i]["Agent_sampleid"] + "</td>" +
            "<td>" + data[i]["Release_apply_date"] + "</td>" +
            "<td>" + data[i]["Agent_contacts"] + "</td>" +
            "<td>" + data[i]["Agent_phone"] + "</td>" +
            "<td>" + data[i]["Agent_address"] + "</td></tr>";
        }
        html += "</tbody></table>";
        $('#releaseUpdate').append(html);

        order();

        len =$("#tableSort tr").length - 1;    // 求这个表的总行数，剔除第一行介绍
        page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
        // alert("page==="+page);
        curPage=1;    // 设置当前为第一页
        displayPage(1);//显示第一页
        document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";    // 显示当前多少页
        document.getElementById("sjzl").innerHTML="数据总量 " + len + "";        // 显示数据量
        document.getElementById("pageSize").value = pageSize;
      }

      function onSearch(obj) {
        setTimeout(function () {
          var storeId = document.getElementById('tableSort');
          var col = storeId.getElementsByTagName("th");
          var array = new Array()
          for (var i in col) {
            array.push(col[i].innerHTML)
          }
          var rule = $('#rule option:selected').val();
          var colName = $("#colName").val();
          var searchCol = array.indexOf(colName);
          var rowsLength = storeId.rows.length;
          var key = obj.value;
          if (rule == "include") {
            for (var i = 1; i < rowsLength; i++) {
              if (searchCol == -1) {
                $("#tips").empty();
                $("#tips").append("请输入正确的列名")
              } else {
                $("#tips").empty();
                var searchText = storeId.rows[i].cells[searchCol].innerHTML;
                if (searchText.match(key)) {
                  storeId.rows[i].style.color = 'black';
                  storeId.rows[i].getElementsByTagName("input")[0].checked = true
                } else {
                  storeId.rows[i].style.color = '#aaaaaa';
                  storeId.rows[i].getElementsByTagName("input")[0].checked = false
                }
              }
            }
          } else if (rule == "bigger") {
            for (var i = 1; i < rowsLength; i++) {
              if (searchCol == -1) {
                $("#tips").empty();
                $("#tips").append("请输入正确的列名")
              } else {
                $("#tips").empty();
                var searchText = Number(storeId.rows[i].cells[searchCol].innerHTML);
                if (searchText < Number(key)) {
                  //storeId.rows[i].style.display='none';
                  //使不满足条件的的行为灰色
                  storeId.rows[i].style.color = '#aaaaaa';
                  storeId.rows[i].getElementsByTagName("input")[0].checked = false
                } else {
                  //使满足条件的行为黑色
                  storeId.rows[i].style.color = 'black';
                  //勾选满足条件的行
                  storeId.rows[i].getElementsByTagName("input")[0].checked = true
                }
              }
            }
          } else if (rule == "smaller") {
            for (var i = 1; i < rowsLength; i++) {
              if (searchCol == -1) {
                $("#tips").empty();
                $("#tips").append("请输入正确的列名")
              } else {
                $("#tips").empty();
                var searchText = Number(storeId.rows[i].cells[searchCol].innerHTML);
                if (searchText > Number(key)) {
                  //storeId.rows[i].style.display='none';
                  storeId.rows[i].style.color = '#aaaaaa';
                  storeId.rows[i].getElementsByTagName("input")[0].checked = false
                } else {
                  storeId.rows[i].style.color = 'black';
                  storeId.rows[i].getElementsByTagName("input")[0].checked = true
                  //storeId.rows[i].style.display='';
                }
              }
            }
          } else {
            for (var i = 1; i < rowsLength; i++) {
              if (searchCol == -1) {
                $("#tips").empty();
                $("#tips").append("请输入正确的列名")
              } else {
                $("#tips").empty();
                var searchText = Number(storeId.rows[i].cells[searchCol].innerHTML);
                if (searchText == Number(key)) {
                  storeId.rows[i].style.color = 'black';
                  storeId.rows[i].getElementsByTagName("input")[0].checked = true
                } else {
                  //storeId.rows[i].style.display='none';
                  storeId.rows[i].style.color = '#aaaaaa';
                  storeId.rows[i].getElementsByTagName("input")[0].checked = false
                }
              }
            }
          }
        }, 200);
      }

      function updaterelease(id) {
        var tube_id = $("#tube_id" + id).val();
        var tube_expiry_date = $("#tube_expiry_date" + id).val();
        var tube_out_express_id = $("#tube_out_express_id" + id).val();
        var data = {
          "PriSID": id,
          "Tube_ID": tube_id,
          "Tube_expiry_date": tube_expiry_date,
          "Tube_out_express_ID": tube_out_express_id
        };
        $.ajax({
          type: 'post',
          url: "/updateRelease",
          data: JSON.stringify(data),
          contentType: 'application/json',
          statusCode: {
            404: function () {
              alert("网络错误！")
            },
            200: function () {
              alert("保存成功！");
              $("#tube_id" + id).attr("disabled", "disabled")
              $("#tube_expiry_date" + id).attr("disabled", "disabled")
              $("#tube_out_express_id" + id).attr("disabled", "disabled")
            },
            300: function () {
              alert("采样管编号重复！")
            },
            405: function () {
              alert("填写采样管失效日期！")
            },
            500: function () {
              alert("系统错误！")
            }
          }
        });
      }

      function delieverPriSID(prisid) {
        sessionStorage.setItem("PriSID", prisid);
        // sessionStorage.setItem("PriSID", prisid);
      }

      var isDown = false;

      function up(check) {
        isDown = false;
      }

      function down(check) {
        isDown = true;
      }

      function move(check) {
        if (isDown) {
          check.checked = true;
        }
      }
    </script>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
          <a class="navbar-brand" href=#>检测出库</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        {% include "sider.html" %}
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="/logout" class="dropdown-toggle"><i class="fa fa-power-off"></i> Log Out</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">筛选更新</div>
              <div class="panel-body">
                <div class="form-group col-lg-2">
                  <label>输入列名</label>
                  <input id="colName" class="form-control ">
                  <!-- </div> -->
                  <!-- <div class="form-group col-lg-2"> -->
                  <label>选择方式</label>
                  <select id="rule" class="form-control">
                    <option value="include">包含</option>
                    <option value="equal">等于</option>
                    <option value="bigger">大或等于</option>
                    <option value="smaller">小或等于</option>
                  </select>
                  <!-- </div> -->
                  <!-- <div class="form-group col-lg-2"> -->
                  <label>输入内容</label>
                  <input name="key" type="text" id="key" onkeydown="onSearch(this)" value="" class="form-control " />
                  <p id="tips"></p>
                  <input type="button" value="全选" class="btn btn-default" onclick="selectAll()">
                  <input type="button" value="反选" class="btn btn-default" onclick="reverse()">
                  <input type="button" value="全不选" class="btn btn-default" onclick="unSelect()">
                </div>
                <div class="form-group col-lg-2">
                  <form id="uploadForm">
                    <label>上传更新</label>
                    <input type="file" name="file" class="btn btn-default" />
                    <br>
                    <input type="button" value="模版下载" class="btn btn-default" id="download">
                    <input type="button" value="出库上传" onclick="doUpload()" class="btn btn-default" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="releaseUpdate" onmousedown="down(this)" onmouseup="up(this)"></div>
      
      <a id="btn0"></a>
      <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/><a> 条 </a> 
      <a href="javascript:void(0);" id="pageSizeSet" onclick="setPageSize()">设置</a>&nbsp;
      <a id="sjzl"></a>&nbsp;
      <a  href="javascript:void(0);" id="btn1" onclick="firstPage()">首页</a>
      <a  href="javascript:void(0);" id="btn2" onclick="frontPage()">上一页</a>
      <a  href="javascript:void(0);" id="btn3" onclick="nextPage()">下一页</a>
      <a  href="javascript:void(0);" id="btn4" onclick="lastPage()">尾页</a>&nbsp;
      <a>转到&nbsp;</a>
      <input id="changePage" type="text" size="1" maxlength="4"/>
      <a>页&nbsp;</a>
      <a  href="javascript:void(0);" id="btn5" onclick="changePage()">跳转</a>
      <br>

      <div id="page-wrapper">
        <br><br> {% extends "footer.html" %}

      </div>
  </body>

</html>
