<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>sampleList</title>
    <script src="/static/js/order.js"></script>
    <link href="/static/css/table.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/local.css" />
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script>
      window.onload = function () {
        $.getJSON("/sampleByPriSID", {
          "key": sessionStorage.getItem("PriSID")
        }, loadSampleList);

      };

      function loadSampleList(data) {
        $('#sampleList').empty();
        var html = "样品详情<br>";
        html += "样品编号: " + data["Sample_ID"] + "<br>";
        html += "采样管编号: " + data["Tube_ID"] + "<br>";
        html += "样品状态: " + data["Status"] + "<br>";
        html += "客户渠道: " + data["Agent_name"] + "<br>";
        html += "渠道负责人: " + data["Agent_manager"] + "<br>";
        html += "产品编号: " + data["Project_name"] + "<br>";
        html += "问卷状态: " + data["Questionnaire_status"] + "<br>";
        html += "申请时间: " + data["Release_apply_date"] + "<br>";
        html += "出库时间: " + data["Release_date"] + "<br>";
        html += "收样时间: " + data["Sample_back_date"] + "<br>";
        html += "待检时间: " + data["Receive_date"] + "<br>";
        html += "生产时间: " + data["JSON_date"] + "<br>";
        html += "报告类型: " + data["Report_type"] + "<br>";
        html += "报告生成时间: " + data["Report_date"] + "<br>";
        html += "报告寄出时间: " + data["Report_mail_date"] + "<br>";
        html += "谱元配状态: " + data["PYFormula_status"] + "<br>";
        html += "谱元配提前出库记录: " + data["PYFormula_release_ahead"] + "<br>";
        html += "谱元配二次出库记录: " + data["PYFormula_release_record"] + "<br>";
        html += "谱元配出库时间: " + data["PYFormula_express_date"] + "<br>";
        html += "最后更新时间: " + data["PYFormula_update_date"] + "<br>";
        html += "备注: " + data["Sample_remarks"] + "<br>";
        $('#sampleList').append(html);

        order()
      }
      var isDown = false;

      function up(check) {
        isDown = false;
      }

      function down(check) {
        isDown = true;
      }

      function move(check) {
        if (isDown) {
          check.checked = true;
        }
      }
    </script>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
          <a class="navbar-brand" href=#>sampleList</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {% include "sider.html" %}
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="/logout" class="dropdown-toggle"><i class="fa fa-power-off"></i> Log Out</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="sampleList" onmousedown="down(this)" onmouseup="up(this)"></div><br>
      <input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回"/>
      <br><br> {% extends "footer.html" %}

    </div>
  </body>

</html>
