<ul class="nav navbar-nav side-nav">
  <li><a href="/"><i class="fa"></i>查询</a></li>
  <li><a href="/releaseapply"><i class="fa"></i>申请</a></li>
  <li><a href="/releaseupdate"><i class="fa"></i>出库</a></li>
  <li><a href="/sampleback"><i class="fa"></i>收样</a></li>
  <li><a href="/dataproduct"><i class="fa"></i>待检</a></li>
  <li><a href="/check_samples"><i class="fa"></i>日志查看</a></li>
  <li><a href="/reportlist"><i class="fa"></i>报告</a></li>
  <li><a href="/delieverupdate"><i class="fa"></i>配送</a></li>
  <li><a href="/mysamples"><i class="fa"></i>我的</a></li>
  <li><a href="/sampleadmin"><i class="fa"></i>管理</a></li>
</ul>